#  Salary_hike -> Building a prediction model using sqrt,log,cbrt

In [34]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [7]:
data=pd.read_csv("C:\\Users\\SARVESH SURVE\\OneDrive\\Desktop\\data\\Salary_Data.csv")

In [8]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [10]:
data.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [22]:
from scipy.stats import linregress
x = data['YearsExperience']

y = data['Salary']

slope, intercept, r_value, p_value, std_err = linregress(x, y)

print("Slope: ", slope)
print("Intercept: ", intercept)
print("R-value: ", r_value)
print("P-value: ", p_value)
print("Standard error: ", std_err)

Slope:  9449.96232145508
Intercept:  25792.20019866868
R-value:  0.9782416184887599
P-value:  1.1430681092271558e-20
Standard error:  378.75457423882153

In [23]:
x = np.array(data['YearsExperience'])
y = np.array(data['Salary'])

In [24]:
# Transform data using log, sqrt, and cbrt functions
x_log = np.log(x)
y_sqrt = np.sqrt(y)
x_cbrt = np.cbrt(x)
print(x_log)
print(y_sqrt)
print(x_cbrt)

[0.09531018 0.26236426 0.40546511 0.69314718 0.78845736 1.06471074
 1.09861229 1.16315081 1.16315081 1.30833282 1.36097655 1.38629436
 1.38629436 1.41098697 1.5040774  1.58923521 1.62924054 1.66770682
 1.77495235 1.79175947 1.91692261 1.96009478 2.06686276 2.10413415
 2.16332303 2.19722458 2.2512918  2.2617631  2.3321439  2.35137526]
[198.35069952 214.95348334 194.24469105 208.62646045 199.72731411
 237.99579828 245.25496937 233.33452381 253.86019775 239.1422171
 251.43189933 236.20753587 238.65665715 238.91630334 247.2063915
 260.64918952 256.96108655 288.24989159 285.24200252 306.4963295
 302.88281562 313.48524686 318.27975116 337.36034147 330.80356709
 324.93383942 342.00730986 335.61138241 349.84425106 349.10170438]
[1.03228012 1.09139288 1.14471424 1.25992105 1.30059145 1.42604315
 1.44224957 1.4736126  1.4736126  1.54668037 1.57406092 1.58740105
 1.58740105 1.60052066 1.65096362 1.69849925 1.72130062 1.7435134
 1.80696887 1.81712059 1.89453647 1.92199734 1.9916317  2.01652968
 2.05671012 2.08008382 2.11791179 2.12531714 2.17576711 2.18975957]

In [25]:
# Fit a line to the transformed data using least squares method
slope, intercept = np.polyfit(x_log, y_sqrt, 1)

In [26]:
#Predict salary for 10 years of experience
prediction = slope * np.log(10) + intercept
print("Prediction for x=10:", prediction)

Prediction for x=10: 330.962383891032

In [27]:
# Predict salary for 5 years of experience
prediction = slope * np.cbrt(5) + intercept
print("Prediction for x=5:", prediction)

Prediction for x=5: 286.6544144733745

# observation
In this cases, the predictions are based on the fitted line obtained from the linear regression. The predictions are not necessarily accurate, as they are based on the assumption that the relationship between the x-values and y-values is linear. If the actual relationship is different, the predictions may not be accurate.

In [28]:
import statsmodels.formula.api as smf

In [29]:
linear_model = smf.ols("y~x", data=data).fit()

In [30]:
linear_model.params

Intercept    25792.200199
x             9449.962321
dtype: float64

In [33]:
linear_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Mon, 09 Jan 2023   Prob (F-statistic):           1.14e-20
Time:                        19:38:12   Log-Likelihood:                -301.44
No. Observations:                  30   AIC:                             606.9
Df Residuals:                      28   BIC:                             609.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.579e+04   2273.053     11.347      0.000    2.11e+04    3.04e+04
x           9449.9623    378.755     24.950      0.000    8674.119    1.02e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.569
Skew:                           0.363   Prob(JB):                        0.456
Kurtosis:                       2.147   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""